<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div id="app">
    <label>
        Число А, модуль:
        <input type="number" v-model="modulo">
    </label>
    <br>
    <br>
    <label>
        Кількість елементів, які по модулю перевершують число А {{ modulo }}:
        <input type="text" readonly v-bind:value="maxElement">
    </label>
    <br>
    <br>

    <ul>
        <li v-for="(number, index) in numbers">
            <div>
                <input type="number" v-model="numbers[index]">
                <button type="button" class="btn btn-danger" @click="numbers.splice(index, 1)"><-</button>
            </div>
        </li>
    </ul>

    <button type="button" class="btn btn-primary" @click="numbers.push(0)">Додати</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>